<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diario5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lezioni.giorni.Sabato"></activity>
        <activity android:name=".lezioni.giorni.Venerdi" />
        <activity android:name=".lezioni.giorni.Giovedi" />
        <activity android:name=".lezioni.giorni.Mercoledi" />
        <activity android:name=".lezioni.giorni.Martedi" />
        <activity android:name=".lezioni.giorni.Lunedi" />
        <activity android:name=".lezioni.Settimana" />
        <activity android:name=".lezioni.New_Lezione" />
        <activity android:name=".impostazioni" />
        <activity android:name=".spash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appunti.Appunti"
            android:label="Appunti"
            android:theme="@style/AppTheme2" />
        <activity android:name=".appunti.AddNoteActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>
